/* ==========================================================================
Features elements styles
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. Video pulsating button
1. Icon box features
2. Side features
3. Flying tabs
4. Countdown
=============================================================================
***/

/* ==========================================================================
3. Flying tabs
========================================================================== */

//Container
.flying-tabs-container {
    //max-width: 560px;
    margin: 0 auto;

    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    overflow: hidden !important;

    //tabs
    .flying-tabs {
        border: 1px solid $secondary;
        //tab-item
        .flying-child {
            //display: inline;
            text-align: center;
            &.is-active a {
                color: $secondary !important;
            }
            flex: 1 !important;
        }
        //link element
        a {
            // font-family: 'Cabin', sans-serif;
            //display: inline-block;
            border: 1px solid $secondary;
            flex: 1 !important;
            width: 24.4%;
            padding: .75rem 0;
            color: $white;
            transition: all .3s;
            &:hover {
                color: lighten($secondary, 15%);
            }
        }
    }
}

//Tab content
.tab-content {
    display: none;
    min-height: 312px;
    margin-top: 40px;
    //Active state
    &.is-active {
        display: block;
    }
    //Side image
    img {
        height: 320px;
        animation-delay: .3s;
    }
    //Countdown card
    .ico-card {
        width: 100%;
        @include primary-gradient-right();
        color: $white;
        padding: 30px 40px;
        border-radius: 6px;
        animation-delay: .3s;
        //Progress bar
        .progress-block {
            .progress-tags {
                display: flex;
                padding: 20px 30px;
                div {
                    position: relative;
                    text-align: right;
                    // font-family: 'Cabin', sans-serif;
                    font-size: .65rem;
                    text-transform: uppercase;
                    &:before {
                        content: '';
                        height: 26px;
                        width: 1px;
                        background: $smoke-white;
                        position: absolute;
                        top: 25px;
                        right: 0px;
                        transform: translateX(50%);

                    }
                    &:first-child, &:nth-child(2) {
                        flex-grow: 2;
                    }
                    &:nth-child(3) {
                        flex-grow: 1;
                    }
                }
            }
            //Color
            progress {
                &.ico-progress {
                    &::-webkit-progress-value {
                        @include secondary-gradient-right();
                    }
                    &::-moz-progress-bar {
                        @include secondary-gradient-right();
                    }
                    &::-ms-fill {
                        @include secondary-gradient-right();
                    }
                }
            }
        }
        //Button
        .button-block {
            text-align: center;
            margin: 20px 0 10px 0;
            padding: 0 15%;
        }
        //Icons
        .icon-block {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px 0;
            i {
                margin: 0 5px;
                color: $smoke-white;
            }
        }
    }
    //Text content
    .text-content {
        p {
            animation-delay: .15s;
        }
        //Bullet list
        .custom-bullet-list {
            li::before {
                content: "೦ ";
                color: $secondary;
            }
            li {
                padding: 10px 0;
                color: $white;
                // font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                &:first-child {
                    animation-delay: .15s;
                }
                &:nth-child(2) {
                    animation-delay: .2s;
                }
                &:nth-child(3) {
                    animation-delay: .25s;
                }
                span {
                    &:first-child {
                        // font-family: 'Cabin', sans-serif;
                    }
                    &.item-content {
                        margin: 0 16px !important;
                        font-size: 90%;
                        // font-family: 'Open Sans', sans-serif;
                        font-weight: 300;
                        color: #e8e8e8;
                    }
                }
            }
        }
    }
}


.hover-card:hover {
    background-color: #1b2040;
}

.modal-services {
    min-height: 312px;
    //Text content
    .text-content {
        p {
            animation-delay: .15s;
        }
        //Bullet list
        .custom-bullet-list {
            li::before {
                content: "೦ ";
                color: $secondary;
            }
            li {
                padding: 10px 0;
                color: $white;
                // font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                &:first-child {
                    animation-delay: .15s;
                }
                &:nth-child(2) {
                    animation-delay: .2s;
                }
                &:nth-child(3) {
                    animation-delay: .25s;
                }
                span {
                    &:first-child {
                        // font-family: 'Cabin', sans-serif;
                    }
                    &.item-content {
                        margin: 0 16px !important;
                        font-size: 90%;
                        // font-family: 'Open Sans', sans-serif;
                        font-weight: 300;
                        color: #e8e8e8;
                    }
                }
            }
        }
    }

    .modal-background {
        background-color: #1b2040;
    }

    .modal-card-head,
    .modal-card-body {
        border: 1px groove $white;
        border-radius: 5px;
        background-color: #1b2040;
    }
}
